@font-face {
  font-family: 'bpg_mrgvlovani_2010';
  src: url('../fonts/bpg_mrgvlovani_2010.eot');
  src: url('../fonts/bpg_mrgvlovani_2010.eot') format('embedded-opentype'),
  url('../fonts/bpg_mrgvlovani_2010.woff2') format('woff2'),
  url('../fonts/bpg_mrgvlovani_2010.woff') format('woff'),
  url('../fonts/bpg_mrgvlovani_2010.ttf') format('truetype'),
  url('../fonts/bpg_mrgvlovani_2010.svg#bpg_mrgvlovani_2010') format('svg');
}

@font-face {
  font-family: 'bpg_mrgvlovani_caps_2010';
  src: url('../fonts/bpg_mrgvlovani_caps_2010.eot');
  src: url('../fonts/bpg_mrgvlovani_caps_2010.eot') format('embedded-opentype'),
  url('../fonts/bpg_mrgvlovani_caps_2010.woff2') format('woff2'),
  url('../fonts/bpg_mrgvlovani_caps_2010.woff') format('woff'),
  url('../fonts/bpg_mrgvlovani_caps_2010.ttf') format('truetype'),
  url('../fonts/bpg_mrgvlovani_caps_2010.svg#bpg_mrgvlovani_caps_2010') format('svg');
}

@font-face {
  font-family: 'bpg_nateli_mtavruli';
  src: url('../fonts/bpg_nateli_mtavruli.eot');
  src: url('../fonts/bpg_nateli_mtavruli.eot') format('embedded-opentype'),
  url('../fonts/bpg_nateli_mtavruli.woff2') format('woff2'),
  url('../fonts/bpg_nateli_mtavruli.woff') format('woff'),
  url('../fonts/bpg_nateli_mtavruli.ttf') format('truetype'),
  url('../fonts/bpg_nateli_mtavruli.svg#bpg_nateli_mtavruli') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nya1og');
  src:  url('../fonts/icomoon.eot?nya1og#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?nya1og') format('truetype'),
  url('../fonts/icomoon.woff?nya1og') format('woff'),
  url('../fonts/icomoon.svg?nya1og#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto-light-webfont.woff') format('woff'),
  url('../fonts/roboto-light-webfont.ttf') format('truetype'),
  url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-ccard:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-dropdown:before {
  content: "\e904";
}
.icon-laptop:before {
  content: "\e905";
}
.icon-medal:before {
  content: "\e906";
}
.icon-pig:before {
  content: "\e907";
}
.icon-sofa:before {
  content: "\e908";
}
.icon-student:before {
  content: "\e909";
}
.icon-gel:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-success:before {
  content: "\e90c";
}





.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clear-fix {

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Sticky Footer */

html, body {
  height: 100%;
  background-color: $bg-color;
}


.page-wrap {
  min-height: calc(100% - 72px);
  /* equal to footer height */
  margin-bottom: -72px;
  position: relative;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 72px;
}


/* Scroll */
//::-webkit-scrollbar
//{
//  width: 12px;  /* for vertical scrollbars */
//  height: 12px; /* for horizontal scrollbars */
//}
//
//::-webkit-scrollbar-track
//{
//  background: rgba(0, 0, 0, 0.1);
//}
//
//::-webkit-scrollbar-thumb
//{
//  background: rgba(0, 0, 0, 0.5);
//}