.u-center {
    margin: 0 auto;
}

.u-float--left {
    float: left;
}

.u-float--right {
    float: right;
}

.u-clearfix {

    &:after {
        clear: both;
        display: block;
        content: "";   
    }
}

.disabled-arrow {
    pointer-events: none!important;

    .icon-arrow-down {
        color: #e8e8e8!important;
    }
}