/* Colors */
$primary-blue : #2196f3;
$blue-light   : #e3f2fd;
$red          : #f44336;
$red-light    : #fff8f6;
$text-color   : #666666;
$text-dark    : rgba(0,0,0,0.8);
$black-light  : rgba(0,0,0,0.5);
$border-color : #d0dbe1;
$green        : #4caf50;
$success      : #32d679;
$white        : #fff;
$black        : #000;
$disabled     : #fafafa;
$footer-color : #f2f2f2;
$bg-color     : #f6f7fb;

// Text Colors
$heading-text-color : rgba(48, 54, 80, 0.9);
$title-color        : rgba(48, 54, 80, 0.8);
$sub-title-color    : #7c82a0;

/* Fonts */
$bpg-mrgvlovani       : "bpg_mrgvlovani_2010";
$bpg-mrgvlovani-caps  : "bpg_mrgvlovani_caps_2010";
$bpg-nateli-caps      : "bpg_nateli_mtavruli";
$robot-light          : 'robotolight';

/* Other */
//$wrapper-widrh : 1280px;