.faq-container {
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background: #fff;

  .faq-item {
    border-bottom: 1px solid #efefef;

    .faq-header {
      color: #7d7d7d;
      font-size: 16px;
      font-family: $bpg-mrgvlovani-caps;
      line-height: 80px;
      height: 80px;
      padding: 0 60px 0 40px;
      position: relative;
      cursor: pointer;
      font-weight: bold;

      &:after {
        content: "\e900";
        display: block;
        position: absolute;
        right:30px;
        top:50%;
        line-height: normal;
        font-family: 'icomoon' !important;
        font-size: 14px;
        color: #7d7d7d;
        font-weight: bold;
        margin-top: -7px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      color: #666;
      font-size: 13px;
      box-shadow:
      inset 0px 13px 13px -10px rgba(0, 0, 0, 0.1),
      inset 0px -12px 18px -10px rgba(0, 0, 0, 0.1);
      line-height: 28px;
      font-family: $bpg-mrgvlovani;
      padding: 0 60px 0 40px;
      -webkit-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
      -moz-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
      -o-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
      transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;

      &:after ,&:before {
        display: block;
        content: "";
        height: 0;
        -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
        // display: none;
      }
    }

    &.active {
      background-color: #fff;

      .faq-header {
        color: $primary-blue;

        &:after {
          color: $primary-blue;
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
          transform: rotate(180deg);
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
        }
      }

      .faq-answer {
        max-height: 9999px;
        transition-delay: 0s;
        transition-timing-function: cubic-bezier(0.5, 0, 1, 0);

        &:after, &:before {
          height: 30px;
        }
      }
    }
  }
}
