.lessons-table {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  border-radius: 5px;
  table-layout: fixed;
  overflow: hidden;

  thead {
    font-size: 14px;
    color: #666;
    font-family: $bpg-mrgvlovani-caps;
    font-weight: bold;
    background: #f6f7fb;

    td {
      height: 60px;
      vertical-align: middle;

      &:first-child {
        width: 60px;
      }

      &:nth-child(2) {
        width: 250px;
      }
    }
  }

  tbody {
    font-size: 14px;
    color: #666666;
    font-family: $bpg-mrgvlovani;
    background: #fff;

    tr {
      border-bottom: 1px solid #ebebeb;

      &:first-child {
        border-top: 1px solid #ebebeb;
      }

      &:last-child {
        border-bottom: none;
      }

      &.current {
        background-color: $primary-blue;
        color: #fff;

        .status {

          &:before {
            content: '';
            width: 5px;
            height: 100%;
            position: absolute;
            left:0;
            top: 0;
            background-color: $primary-blue;
          }

          span {
            color: #fff;
            border-color: #fff;
          }
        }

        .teacher {
          color: rgba(255,255,255,0.6);
        }

        .lesson-time {
          color: #fff;
          border-color: #fff;
        }
      }
    }

    td {
      position: relative;
      vertical-align: middle;
      height: 70px;
      line-height: normal;
      font-size: 12px;

      &:last-child {
        padding: 0 15px 0 0;
      }
    }

    .teacher {
      color: #ababab;
      font-size: 12px;
    }

    .status {
      text-align: center;
      line-height: 0;
    }

    .lesson-time {
      border: 1px solid #2196f3;
      border-radius: 2px;
      line-height: 16px;
      padding: 1px 5px;
      color: #2196f3;
      font-size: 12px;
      display: inline-block;
      margin-left: 10px;
    }

    .status {

      span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        border:1px solid #b7b7b7;
      }

      .attend {
        background-color: #00e676;
        border:none;
        position: relative;

        &:before {
          font-family: "icomoon";
          content: "\e903";
          color: #fff;
          font-size: 10px;
          top: 11px;
          left: 5px;
          display: block;
          position: absolute;
          font-weight: bold;
          text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
        }
      }

      .not-attend {
        background-color: $red;
        border:none;

        &:before {
          content: "";
          display: block;
          width: 12px;
          height: 1px;
          position: relative;
          top: 10px;
          left: 4px;
          background-color: #ffffff;
          transform: rotate(-45deg);
        }

        &:after {
          content: "";
          display: block;
          position: relative;
          width: 12px;
          height: 1px;
          top: 9px;
          left: 4px;
          background-color: #ffffff;
          transform: rotate(45deg);
        }
      }
    }
  }
}