.main-header {
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  background-position: center center;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $black-light;
  }

  .main-content {
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    width: 100%;

    h1 {
      color: $white;
      font-size: 50px;
      font-family: $bpg-nateli-caps;
      margin-bottom: 50px;
      display: block;
    }

    h5 {
      color: $white;
      font-family: $bpg-mrgvlovani;
      font-size: 16px;
      margin-bottom: 60px;
      line-height: 28px;
    }
  }

  .scroll-bottom {
    position: absolute;
    bottom:15px;
    left:50%;
    color: $white;
    text-align: center;
    margin-left: -44px;
    font-family: $bpg-mrgvlovani;
    cursor: pointer;

    .icon-arrow-down {
      margin-top: 15px;
      font-size: 30px;
      color: #fff;
      text-decoration: none;
      display: inline-block;
    }
  }
}

.features {
  padding: 80px 0 80px 0;
  background: $white;

  h1 {
    color: $heading-text-color;
    font-family: $bpg-mrgvlovani-caps;
    font-size: 36px;
    display: block;
    text-align: center;
    line-height: normal;
    margin-bottom: 35px;
  }

  h5 {
    color: $sub-title-color;
    font-family: $bpg-mrgvlovani;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 28px;
    margin-bottom: 50px;
    margin-bottom: 100px;

  }

  .features-item {
    text-align: center;
    margin-bottom: 30px;

    .features-icon {
      display: inline-block;
      margin-bottom:25px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      height: 111px;

      &.piggy {
        width: 94px;
        background-image: url("../images/piggy.png");
      }

      &.sofa {
        width: 94px;
        background-image: url("../images/sofa.png");
      }

      &.quality-badge {
        width: 87px;
        background-image: url("../images/badge.png");
      }
    }

    // .icon {
    //   color: $primary-blue;
    //   font-size: 100px;
    //   display: inline-block;
    //   margin-bottom:25px;
    //   position: relative;

    //   &.icon-pig {

    //     &:after {
    //       font-family: 'icomoon';
    //       content: "\e90a";
    //       color: $primary-blue;
    //       font-size: 22px;
    //       position: absolute;
    //       left: 26px;
    //       top: 6px;
    //       font-weight: bold;
    //     }
    //   }
    // }

    .title {
      font-size: 22px;
      color: $title-color;
      font-family: $bpg-mrgvlovani-caps;
      margin-bottom: 25px;
    }

    .description {
      font-size: 14px;
      color: $sub-title-color;
      font-family: $bpg-mrgvlovani;
      line-height: 24px;
    }
  }
}

.how-works {
  background: $primary-blue;
  padding: 80px 0;
  text-align: center;

  h1 {
    color: $white;
    font-family: $bpg-mrgvlovani-caps;
    font-size: 36px;
    display: block;
    text-align: center;
    line-height: normal;
    margin-bottom:80px;
  }

  .work-item {
    text-align: center;
    margin-bottom: 30px;

    .icon-cont {
      width: 148px;
      height: 148px;
      border:1px solid $primary-blue;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      position: relative;
      display: inline-block;
      margin-bottom: 30px;
      overflow: hidden;
      box-shadow: 0 6px 15px rgba(0,0,0,0.1);

      .work-icon {
        position: absolute;
        width: 140px;
        height: 140px;
        display: block;
        left:50%;
        top: 50%;
        transform:translate(-50%,-50%);
        background-repeat: no-repeat;
        background-position: center center;

        &.register {
          top: 78px;
          background-image: url("../images/register.png");
        }

        &.calendar {
          top: 78px;
          background-image: url("../images/calendar.png");
        }

        &.lecture {
          left: 76px;
          top: 96px;
          background-image: url("../images/lecture.png");
        }

        
      }

      // .num {
      //   width: 24px;
      //   height: 24px;
      //   background: $white;
      //   border-radius: 50%;
      //   position: absolute;
      //   top: 0px;
      //   right: -4px;
      //   color: $primary-blue;
      //   font-size: 15px;
      //   text-align: center;
      //   vertical-align: middle;
      //   padding-top: 4px;
      //   font-family: sans-serif;
      // }
    }

    .title {
      font-size: 22px;
      color: $white;
      font-family: $bpg-mrgvlovani-caps;
      margin-bottom: 25px;
      line-height: normal;
    }

    .description {
      color: rgba(255,255,255,0.8);
      font-size: 14px;
      font-family: $bpg-mrgvlovani;
      line-height: 24px;
    }
  }

  .line-title {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;

    span {
      color: $white;
      display: inline-block;
      font-family: $bpg-nateli-caps;
      font-size: 30px;
      border-bottom: 1px solid $white;
    }

  }
}

