.popup {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 12345;

  .box {
    width: 500px;
    background-color: $white;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 50px 70px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

    .close-box {
      width: 18px;
      height: 18px;
      cursor: pointer;
      position: absolute;
      right: 15px;
      top:15px;

      &:before {
        content: "";
        display: block;
        width: 24px;
        height: 1px;
        position: relative;
        top: 9px;
        left: -3px;
        background-color: #888888;
        @include rotate(-45deg);
      }

      &:after {
        content: "";
        display: block;
        position: relative;
        width: 24px;
        height: 1px;
        top: 8px;
        left: -3px;
        background-color: #888888;
        @include rotate(45deg);
       }
    }

    .title {
      font-family: $bpg-mrgvlovani-caps;
      font-size: 20px;
      color: rgba(0,0,0,0.8);
      text-align: center;
      margin-bottom: 40px;
    }

    .then-register {
      color: rgba(0,0,0,0.8);
      font-size: 14px;
      text-align: center;
      display: block;
      margin-top: 10px;
      font-family: $bpg-mrgvlovani;
    }
  }

  .login {

    .forgot-pass {
      font-size: 12px;
      color: rgba(0,0,0,0.9);
      font-family: $bpg-mrgvlovani;
      margin-top: 4px;
    }
  }

  .recovery {

  }
}