.registration-content {
  width: 400px;
  margin: 0 auto;

  .terms-conditions {
    text-align: center;
    font-family: $bpg-mrgvlovani;
    font-size: 12px;
    color: $text-dark;
    line-height: 16px;

    a {
      color: $primary-blue;
      text-decoration: underline!important;
    }
  }

  .date-note {
    font-family: $bpg-mrgvlovani;
    font-size: 12px;
    color: $text-dark;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: -5px;
  }
}
