.lessons-table {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  border-radius: 5px;
  table-layout: fixed;

  thead {
    font-size: 14px;
    color: #666;
    font-family: $bpg-mrgvlovani-caps;
    font-weight: bold;

    td {
      height: 60px;
      vertical-align: middle;

      &:first-child {
        width: 60px;
      }

      &:nth-child(2) {
        width: 250px;
      }
    }
  }

  tbody {
    font-size: 14px;
    color: #666666;
    font-family: $bpg-mrgvlovani;

    tr {
      border-bottom: 1px solid #ebebeb;

      &:first-child {
        border-top: 1px solid #ebebeb;
      }

      &:last-child {
        border-bottom: none;
      }

      &.current {
        //background-color: #fbfbfb;

        .status {

          &:before {
            content: '';
            width: 5px;
            height: 100%;
            position: absolute;
            left:0;
            top: 0;
            background-color: $primary-blue;
          }
        }
      }
    }

    td {
      position: relative;
      vertical-align: middle;
      height: 70px;
    }

    .teacher {
      color: #ababab;
      font-size: 12px;
    }

    .status {
      text-align: center;
    }

    .lesson-time {
      border: 1px solid #2196f3;
      border-radius: 2px;
      line-height: 16px;
      padding: 1px 5px;
      color: #2196f3;
      font-size: 12px;
      display: inline-block;
      margin-left: 10px;
    }

    .status {

      span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        border:1px solid #b7b7b7;
      }

      .attend {
        background-color: #00e676;
        border:none;
      }

      .not-attend {
        background-color: $red;
        border:none;
      }
    }
  }
}