.video-chat {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12323;
    background: #fff;

    button {
        border:none;
        outline: none;
        color: rgba(48, 54, 80, 0.8);
        font-family: "bpg_mrgvlovani_2010";
        background: transparent;
    }

    .left-side {
        width: calc(100% - 300px);
        height: 100vh;
        float: left;

        #media-div {
            width: 100%;
            height: 100%;
            margin: 0 auto;

            div {
                height: 100%;
            }

            video {
                width: 100%;
                height: 100%;
                padding: 40px 0;
            }
        }
    }

    .right-side {
        width: 300px;
        height: 100vh;
        float: left;
        border-left: 1px solid $border-color;

        .chat-section {
            height: 100%;
        }

        .chat-content {
            height: calc(100% - 70px);
        }
    }
    

    .video-header {
        height: 70px;
        width: 100%;
        line-height: 70px;
        border-bottom: 1px solid $border-color;

        padding: 0 20px;
    }

    .video-content {
        height: calc(100% - 140px);
        // background: $primary-blue;
    }

    .video-footer {
        height: 70px;
        line-height: 70px;
        width: 100%;
        border-top: 1px solid $border-color;
        position: relative;
    }

    .button-tall {
        outline: none;
        border:none;
        padding: 0 20px;
        border-right: 1px solid $border-color;
        @include transition(all, 0.2s, ease-in-out);

        &:hover {
            background-color: $primary-blue;
            color: #fff;
        }
    }

    .chat-input {
        width: 100%;
        padding: 20px;
        outline: none;
        word-break: break-word;
        line-height: normal;
        border:none;
        padding-right: 60px;
    }

    .button-send {
        width: 40px;
        height: 40px;
        background-color: $primary-blue;
        color: #fff;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -20px;
        border-radius: 50%;
    }

    .fullscreen-btn {
        
    }

    .golive-btn {
        line-height: normal;
        background-color: $primary-blue;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 10px;
    }

    .user-list {
        margin-top: 14px;
        margin-right: 15px;

        li {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0,0,0,0.4);
            float: left;
            margin-left: 15px;
        }
    }
    
}