.button {
  color: $text-color;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  line-height: normal;
  box-sizing: border-box;
  text-align: center;
  font-family: $bpg-mrgvlovani-caps;
  font-size: 20px;
  border:none;
  cursor: pointer;
  @include transition(all, 0.2s, ease-in-out);
  position: relative;

  &.small {
    height: 40px;
    line-height: 40px;
    font-family: $bpg-mrgvlovani;
    font-size: 14px;
  }

  &.large {
    width: 280px;
    height: 60px;
    line-height: 60px;
  }

  &.border {
    border:1px solid;
    background: transparent;

    &:hover {
      background-color: $white;
      color: $text-color;
    }
  }

  &.blue {
    background-color: $primary-blue;
    border:1px solid $primary-blue;
    overflow: hidden;

    // &:before {
    //   background: #fff;
    //   content: "";
    //   height: 155px;
    //   left: -75px;
    //   opacity: .2;
    //   position: absolute;
    //   top: -50px;
    //   -webkit-transform: rotate(35deg);
    //   transform: rotate(35deg);
    //   -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    //   transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    //   width: 50px;
    //   z-index: 10;
    // }

    &:hover {
      box-shadow: 0 0 30px rgba(33, 150, 243, 0.6);

      // &:before {
      //   left: 120%;
      //   -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      //   transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      // }
    }

    //&:hover {
    //  //@include scale(1.05);
    //  background-color: transparent;
    //  border:1px solid $white;
    //}
  }

  &.white {
    color: $white;

    &.border {
      border-color: $white;
      padding: 0 25px;
    }
  }

  &.save {
    width: 100%;
    height: 50px;
    line-height: 50px;
    // border:1px solid $primary-blue;
    background-color: $primary-blue;
    text-align: center;
    font-size: 13px;
    font-family: $bpg-mrgvlovani;
    color: $white;

    &:hover {
      opacity: 0.9;
      // background-color: $primary-blue;
      // color: $white;
    }
  }

  &.start-now {
    margin-top: 50px;
    background: #fff;
    color: $primary-blue;

    &:hover {
      box-shadow: 0 0 30px rgba(255,255,255,0.5);
    }
  }
}