.calendar {
  max-width: 840px;
  margin: 0 auto;

  .calendar-container {
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.06);

    .calendar-head {
      height: 50px;
      line-height: 50px;
      background-color: #fff;

      .cal-row {
        display: flex;

        .cal-col {
          font-family: $bpg-mrgvlovani-caps;
          background-color: #fff;
          font-size: 13px;
          color: $text-color;
          padding-left: 15px;
          padding-bottom: 10px;
          flex: 1;
        }
      }

      //.day {
      //  color: #767676;
      //  font-size: 18px;
      //  line-height: normal;
      //  margin-left: 15px;
      //  margin-top: 12px;
      //}
    }

    .calendar-body {

      .cal-row {
        display: flex;

        .cal-col {
          border:1px solid #f0f2f5;
          height: 100px;
          position: relative;
          padding-left: 15px;
          padding-top: 12px;
          color: #aaa;
          font-size: 16px;
          font-family: $robot-light;
          cursor: pointer;
          flex: 1;
          margin: -1px 0 0 -1px;

          &.today {
            color: $primary-blue;
            background-color: #e4f0f9!important;
            z-index: 12;

            .init-day {
              color: $primary-blue;
            }

            &:after {
              content: "";
              width: calc(100% + 2px);
              height: calc(100% + 2px);
              position: absolute;
              left: -1px;
              top: -1px;
              border: 1px solid rgba(33, 150, 243, 0.25);
            }
          }

          &.disabled {
            background-color: $disabled;
            cursor: not-allowed;
            //overflow: hidden;

            //&:before {
            //  content: "";
            //  background: url(../img/stripes.png);
            //  background-repeat: repeat;
            //  display: block;
            //  position: absolute;
            //  left: 0;
            //  top: -56px;
            //  width: 200px;
            //  height: 200px;
            //  @include rotate(-45deg);
            //  //z-index: 2313123;
            //}
          }

          &.available {
            background-color: #fff;
            color: #888;

            &:before {
              content: "";
              width: 8px;
              height: 8px;
              display: block;
              position: absolute;
              left:21px;
              top:40px;
              background-color: #00E676;
              border-radius: 50%;
              box-shadow: 0 0 6px #00E676;
            }
          }

          .init-day {
            color: rgba(0,0,0,0.7);

            .day-name {
              font-family: $bpg-mrgvlovani;
              font-size: 13px;
            }
          }

          .days-tooltip{
            position: absolute;
            left:100%;
            top:0;
            width: 180px;
            height: 200px;
            box-shadow: 0 0 30px rgba(0,0,0,0.1);
            background-color: $white;
            z-index:123;
            padding: 20px;
            border:1px solid #f0f2f5;
            cursor: default;
            display: none;

            &:before {
              content: "";
              width: 18px;
              height: 18px;
              border-left: 1px solid #f0f2f5;
              border-bottom: 1px solid #f0f2f5;
              background-color: $white;
              position: absolute;
              @include rotate(45deg);
              top: 40px;
              left: -10px;
            }

            .title {
              font-size: 12px;
              font-family: $bpg-mrgvlovani;
              color: $text-color;
              margin-bottom: 20px;
              text-align: center;
            }

            .form-select {

              select {
                width: 100%;
                margin-bottom: 20px;

                option {

                  &:active, &:hover {
                    box-shadow: 0 0 10px 100px red inset;
                  }

                  &:first-child {
                    display: block;
                  }
                }
              }
            }

            &.show {
              display: block;
            }
          }


          .lesson {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            text-align: center;

            .number {
              font-size: 12px;
              font-family: $bpg-mrgvlovani;
              color: $text-color;
              margin-bottom: 5px;
            }

            .time {
              width: calc(100% - 20px);
              margin: 0 auto;
              background-color: $primary-blue;
              color: $white;
              border-radius: 2px;
              font-size: 15px;
              height: 25px;
              line-height: 25px;
            }
          }

          &:nth-child(6), &:nth-child(7) {

            .days-tooltip {
              right: 100%;
              left:auto;

              &:before {
                right: -10px;
                left:auto;
                border-right: 1px solid #cccccc;
                border-top: 1px solid #cccccc;
                border-left:none;
                border-bottom: none;
              }
            }
          }
        }

        &:last-child {

          .cal-row {

            .days-tooltip {
              bottom: 0;
              top:auto;

              &:before {
                bottom: 40px;
                top:auto;
              }
            }
          }
        }
      }
    }
  }

  .month-switcher {
    width: 100%;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    
    .left-arrow {
      width: 50px;
      height: 50px;
      //float: left;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      cursor: pointer;
      margin-top: -5px;

      .icon-arrow-down {
        display: inline-block;
        @include rotate(90deg);
        font-size: 24px;
        color: #a5a5a5;
        margin-top: 10px;
        font-weight: bold;
      }
    }


    .right-arrow {
      width: 50px;
      height: 50px;
      //float: left;
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      cursor: pointer;
      margin-top: -5px;

      .icon-arrow-down {
        display: inline-block;
        @include rotate(-90deg);
        font-size: 24px;
        color: #a5a5a5;
        margin-top: 10px;
        font-weight: bold;
      }
    }

    .month {
      width: 200px;
      text-align: center;
      display: inline-block;
      //float: left;
      height: 50px;
      font-size: 20px;
      font-family: $bpg-mrgvlovani;
      color: $text-color;
      padding-top: 5px;
    }
  }
}

.overlay {
  position: fixed;
  left:0;
  top:-72px;
  width: 100%;
  height: calc(100% + 72px);
  background-color: rgba(0,0,0,0.6);
  z-index:231;

  .notification {
    position: absolute;
    width: 500px;
    left:50%;
    top:calc(50% + 36px);
    transform: translate(-50%,-50%);
    border-radius: 3px;
    background-color: $white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;

    .header {
      width: 100%;
      height: 120px;
      background-color: $success;
      color: $white;
      text-align: center;
      padding: 20px 0;

      .icon-success {
        color: $white;
        font-size: 50px;
      }

      .text {
        font-size: 16px;
        font-family: $bpg-mrgvlovani;
        margin-top: 10px;
      }
    }

    .content {
      padding: 20px;
      font-size: 15px;
      color: $text-color;
      font-family: $bpg-mrgvlovani;
      line-height: 24px;

      .circle {
        width: 8px;
        height: 8px;
        display: inline-block;
        margin: 0 5px;
        background-color: #00E676;
        border-radius: 50%;
        box-shadow: 0 0 6px #00E676;
      }
    }

    .button {
      min-width: 180px;
      text-align: center;
      color: $white;
      font-size: 16px;
      font-family: $bpg-mrgvlovani;
      height: 50px;
      line-height: 50px;
      background-color: $success;
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      margin: 20px 0;
      overflow: hidden;

      &:before {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 10;
      }

      &:hover {

        &:before {
          left: 120%;
          -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
  }
}