.form-row {
  margin-bottom: 30px;
  position: relative;

  &.has-error {
    margin-bottom: 40px;

    .form-input {
      background-color: $red-light;
      border-color: $red;
    }
  }
}

.form-input {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border:1px solid $border-color;
  outline: none;
  padding: 0 20px;
  box-sizing: border-box;
  color: rgba(0,0,0,0.93);
  font-size: 15px;
  font-family: $bpg-mrgvlovani;

  &:focus, &.focused {

      + .form-label {
        width: auto;
        height: auto;
        top:-18px;
        left:17px;
        padding: 0 3px;
        font-size: 12px;
        line-height: normal;
        // background-color: $white;
      }
  }

  &:focus {
    border-color: $primary-blue;
  }

  &.with-btn {
    width: calc(100% - 120px);
  }

  &.invalid {
    border-color: $red;
    background-color: $red-light;
  }
}


.form-label {
  position: absolute;
  left:20px;
  top: 18px;
  background-color: transparent;
  color: rgba(0,0,0,0.6);
  font-size: 15px;
  font-family: $bpg-mrgvlovani;
  @include transition(all, 0.3s, ease-in-out);
  cursor:text;
}

.form-btn {
  width: 100%;
  height: 56px;
  color: $white;
  background-color: $primary-blue;
  display: block;
  border-radius: 2px;
  text-decoration: none;
  line-height: normal;
  box-sizing: border-box;
  text-align: center;
  font-family: $bpg-mrgvlovani-caps;
  font-size: 18px;
  border:none;
  cursor: pointer;
  @include transition(all, 0.2s, ease-in-out);
  position: relative;
  overflow: hidden;
  outline: none;

  &:before {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }

  &:hover {

    &:before {
      left: 120%;
      -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &.disabled, &:disabled {
    background-color: #e1e1e1;
    color: rgba(0,0,0,0.4);

    &:before {
      display: none;
    }
  }

  &.small {
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
}

.form-select {

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  select {
    width: calc(33% - 20px);
    height: 50px;
    border-radius: 2px;
    border:1px solid $border-color;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: $bpg-mrgvlovani;
    display: block;
    float: left;
    margin-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url("../images/arrow-down.png");
    background-repeat:  no-repeat;
    background-size: 16px;
    background-position: right 15px top 20px;
    color: rgba(0, 0, 0, 0.6);

    &:last-child {
      margin-right: 0;
      width: 34%;
    }

    //&:focus {
    //  background-image: url("../img/arrow-up.png");
    //}

    option {
      color: rgba(0,0,0,0.93);

      &:first-child {
        display: none;
      }
    }

    &:focus {
      border-color: $primary-blue;
    }
  }
}

/* ToolTip */
.help-block {
  position: absolute;
  left: 0;
  top: calc(100% - 2px);
  margin-top: -50px;
  display: block;
  background-color: $red;
  padding: 5px 10px 5px 20px;
  color: $white;
  width: 100%;
  margin: 0;
  border-radius: 0px 0px 2px 2px;
  font-family: $bpg-mrgvlovani;
  font-size: 12px;
  z-index: 123;

  strong {
    color: $white;
  }

  &:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 25px;
    background: $red;
    top: -3px;
  }
}