.steps {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 80px;

  .step-list {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-box-orient: horizontal;


    li {
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 235px;
        height: 1px;
        background-color: #e5e5e5;
        position: absolute;
        top: 10px;
        left: 20px;
      }

      .number {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        color: $primary-blue;
        border:1px solid #e5e5e5;
        font-family: $bpg-mrgvlovani;
        background-color: $white;
        position: relative;
      }

      .text {
        position: absolute;
        bottom: -20px;
        left:50%;
        transform: translate(-50%,0);
        font-size: 12px;
        font-family: $bpg-mrgvlovani-caps;
        color: #555;
        opacity: 0.6;
      }

      &.active {

        .number {
          background-color: #e4f0f9;
          border:1px solid $primary-blue;

          &::before {
            content: "";
            width: 12px;
            height: 12px;
            background: $primary-blue;
            display: block;
            border-radius: 50%;
            left: 3px;
            top: 3px;
            position: absolute;
          }
        }

        .text {
          opacity: 1;
        }
      }

      &:last-child {

        &:before {
          display: none;
        }
      }

      &.complete {

        &:before {
          background-color: $primary-blue;
        }

        .number {
          background-color: $primary-blue;
          border-color: $primary-blue;

          &:after {
            content: "\e903";
            font-family: 'icomoon';
            display: block;
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            color: $white;
            font-size: 10px;
            margin-top: 1px;
          }

          &:before {
            content: "";
            width: 12px;
            height: 12px;
            background-color: $primary-blue;
          }
        }

        .text {
          color: $primary-blue;
          opacity: 1;
        }
      }
    }
  }
}