footer {
  height: 72px;
  line-height: 72px;
  background-color: $white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

  .copyright {
    text-align: left;
    color: #555555;
    font-size: 14px;
    font-family: $bpg-mrgvlovani;
  }

  .navigation {
    text-align: center;

    li {
      display: inline-block;

      a {
        color: $text-dark;
        font-size: 14px;
        font-family: $bpg-mrgvlovani;
        margin: 0 20px;
        @include transition(all, 0.2s, ease-in-out);
      }

      &:hover {

        a {
          color: $primary-blue;
        }
      }
    }
  }

  .social {
    text-align: right;
    line-height: normal;

    .icon-facebook {
      display: inline-block;
      position: relative;
      top: 24px;
      //color: rgba(0,0,0,0.4);
      color: #3B5998;
      font-size: 26px;
      vertical-align: middle;
    }

    a {
      @include transition(all, 0.2s, ease-in-out);

      &:hover {
        color: $primary-blue;
      }
    }
  }


}