header {
  width: 100%;
  height: 72px;
  line-height: 72px;
  background-color: $white;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);

  .user-area {
    margin-top: 15px;

    .login-btn {
      //padding: 0 25px;
      //background-color: $white;
      font-size: 13px;
      color: #7d7d7d;

      &:hover {
        color: $primary-blue;
      }
    }

    .register-btn {
      margin-left: 50px;
      display: none;
      background-color: rgba(255,255,255,0.2);
      padding: 0 20px;
      color: #fff;

      &:hover {
        background-color: rgba(255,255,255,0.4);
      }
    }

    .dropdown-menu{
      right: 0;
      left: initial;
    }
  }

  &.landing-header {
    position: absolute;
    z-index:123;
    background-color: transparent;
    box-shadow: none;

    .logo {
      background: url('../images/logo-white.png') no-repeat;
      background-size: 100%;
    }

    .login-btn {
      background-color: transparent;
      color: $white;
      padding: 0;
    }

    .register-btn {
      display: block;
    }

  }
}

.logo {
  width: 130px;
  height: 36px;
  background: url('../images/logo.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  margin-top: 17px;

  &.logo-secondary {
    background: url('../images/logo-white.png') no-repeat;
    background-size: 100%;
  }
}
